$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;
$light-gray: gray;
$text-color:       #333036;
$background-color: #fdfdfd;
$brand-color:      #d968aa;
$projectbox-text:  #251e26;

// Color scheme for light
$body-bg: #ebebeb;
$projectbox: #f0a0e9;
$text-color: #333;

// Color scheme for dark modes
$body-bg-dark: #1f1e2b;
$projectbox-dark: #d27ab4;
$text-color-dark: #b5abb5;
