### your site title here

title: Milo Qureshi
description: Game Designer | Interactive Narratives | RIT

baseurl: /site #name of GitHub repository
url: "https://milosneptune.github.io" #custom url to be used instead of GitHub repository
email: #

# Pagination
# TODO making the archive into a side bar to navigate through blog posts, rather than its own page
# TODO making project post structures column based

paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

# Social media links in footer
linkedin: "milo-qureshi"
github: "milosneptune"
itch: "milosneptune"
sketchfab: "squeakyhammer"

# Markdown
highlighter: rouge
markdown: kramdown

# Tracker
analytics:

# optimization -> compress.html
compress_html:
  clippings: [html,div, p, ul, td, h1, h2, h3, h4,link, meta, footer, nav, img, header, hr, br, head, style, li, ul, ol, time, main, script, title]
  comments: ["<!-- ", " -->"]
  endings: [all]
  ignore:
    envs: [local]
  blanklines: false
  profile: false
  startings: []

#collection
collections:
  projects:
    output: true
    permalink: /projects/:name/
    order:
      - jelly-beach.md
      - rig-my-roll.md
      - starlit-wanderer.md
      - path-remembrance.md

sass:
  sass_dir: /assets/css/_sass
  style: compressed

include:
  - _pages

exclude:
  - README.md
  - LICENSE.md

plugins:
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-email-protect
  - jekyll-target-blank
